 * {
     margin: 0;
     padding: 0;
 }

 /* top图box */

 ul {
     display: inline;
 }

 li {
     display: inline;
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 /* 导航栏链接css */
 .ding {
    /* float: left; */
     position: sticky;
     /* position: relative; */
     top: 0;
     /* height: 41px; */
     w100%
     /* width: 1920px; */
     /* padding: 0 20px; */
     /* background-color: rgb(166, 166, 169); */
     /* background-color: rgb(246, 246, 246); */
     text-align: center;
     line-height: 36px;
     color: #fff;
     text-decoration: none;
     /* background-image: url(logoa.png); */

 }

 .diyanhui {
     margin-left: 10px;
     margin-top: 7px;
     margin-right: 8PX;
 }

 .shouye,
 .chengyuan,
 .jindubiao {
     float: left;
     height: 41px;
     padding: 0 20px;
     /* background-color: rgb(166, 166, 169); */
     /* background-color: rgb(246, 246, 246); */
     text-align: center;
     line-height: 41px;
     color: #ffffff;
     text-decoration: none;
     /* background-image: url(logoa.png); */
 }

 /* .search { */
     /* float: left; */
     /* width: 200px; */
     /* height: 42px; */
     /* margin-left: 400px; */
 /* } */

 /* .search input { */
     /* width: 200px; */
     /* height: 28px; */
     /* border-radius: 10px; */
     /* border: 1px solid rgb(222, 222, 222); */
     /* color: #d8d8d8; */
     /* font-size: 14px; */
     /* padding-left: 80px; */
     /* margin-top: 5px; */

 /* } */

 .zhuce,
 .denglu {
     float: right;
     height: 41px;
     padding: 0 20px;
     /* background-color: rgb(166, 166, 169); */
     /* background-color: rgb(246, 246, 246); */
     text-align: center;
     line-height: 41px;
     color: #ffffff;
     text-decoration: none;
     /* background-image: url(logoa.png); */
 }



 /* 大厅图 */
 .toutu {
   
   
     height: 1080px;
     /* width: 1920px; */
     /* background-color: rgb(243, 243, 243); */
     background-image: url(ep.jpg);
     background-repeat: no-repeat;
     /* background-position: center 100px; */
     background-position: center;
     /* font: 12px 'Microsft YaHei'; */
     /* background-color: rgb(166, 166, 169); */

 }
 .toutubiaoti {
    position: relative;
    top: 340px;
    left: 100px;
    width: 1000px;
    height: 600px;
    /* background-color: #7a2a2a; */
 }
.mingzi {
    position: absolute;
    top: 10px;
    left: 50px;
    color: #ffffff;
    font-size: 100px;
    /* background-color: aqua; */
}
.mingzier {
    position: absolute;
    top: 110px;
    left: 50px;
    color: #ffffff;
    font-size: 180px;
    /* background-color: antiquewhite; */
}
.mingzisan {
    position: absolute;
    top: 360px;
    left: 54px;
    color: #ffffff;
    font-size: 26px;
    /* background-color: antiquewhite; */
}
 .box {
     height: 800px;
     margin-top: 10px;
     /* margin: 0 auto; */
     /* background-color: rgb(176, 232, 213); */

 }

 body {
     background-color: rgb(230, 230, 230);
 }

 .diyanhui {
     float: left;
 }

 .logo {
     float: left;
 }

 .ding a:hover {
     background-color: rgb(231, 232, 233);
     color: rgb(36, 36, 36);
 }

 p {
     color: #fff;
     font-size: 16px;
 }

 /* 主线css */
 .zhuti {
     font-size: 40px;
     color: #2e2e2e;
     text-align: center;
     padding: 0 auto;
     margin-top: 200px;
     margin-bottom: 70px;
     /* background-color: aquamarine; */
 }

 .zhuxian {
    overflow: hidden;
     float: left;
     width: 260px;
     height: 270px;
     background-color: #ffffff;
     /* margin: 100px auto; */
     margin-bottom: 10px;
     margin: 0 50px 50px 65px;

     border-radius: 10px;
     display: inline-block;
     /* background-color: aquamarine; */

 }

 /* 主线box阴影 */
 .zhuxian:hover {
     box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, .5);
 }

 /* 别传box阴影 */
 .biezhuan:hover {
     box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, .5);
 }

 /* 插曲box阴影 */
 .chaqv:hover {
     box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, .5);
 }

 /* 剿灭box阴影 */
 .jiaomie:hover {
     box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, .5);
 }

 /* 别传css */
 .biezhuan {
    overflow: hidden;
     float: left;
     display: inline-block;
     width: 260px;
     height: 270px;
     background-color: #ffffff;
     /* margin: 0 50px; */
     margin: 0 50px 50px 50px;

     /* margin: 100px; */
     border-radius: 10px;
     /* background-color: aquamarine; */

 }

 /* 插曲css */
 .chaqv {
    overflow: hidden;
     float: left;
     width: 260px;
     height: 270px;
     background-color: #ffffff;
     /* margin: 0 50px; */
     margin: 0 50px 50px 50px;

     /* margin: 100px; */
     border-radius: 10px;
     display: inline-block;
     /* background-color: aquamarine; */
 }

 /* 剿灭css */
 .jiaomie {
    overflow: hidden;
     float: left;
     width: 260px;
     height: 270px;
     background-color: #ffffff;
     /* margin: 0 50px; */
     margin: 0 50px 50px 50px;
     /* margin: 100px; */
     border-radius: 10px;
     display: inline-block;
     /* background-color: aquamarine; */
 }

 .heyue {
    overflow: hidden;
     float: left;
     width: 260px;
     height: 270px;
     background-color: #ffffff;
     /* margin: 0 50px; */
     margin: 0 50px 50px 65px;
     /* margin: 100px; */
     border-radius: 10px;
     display: inline-block;
     /* background-color: aquamarine; */
 }

 .rouge {
    overflow: hidden;
     float: left;
     width: 260px;
     height: 270px;
     background-color: #ffffff;
     /* margin: 0 50px; */
     margin: 0 50px 50px 50px;
     /* margin: 100px; */
     border-radius: 10px;
     display: inline-block;
     /* background-color: aquamarine; */
 }

 .baoquan {
    overflow: hidden;
     float: left;
     width: 260px;
     height: 270px;
     background-color: #ffffff;
     /* margin: 0 50px; */
     margin: 0 50px 50px 50px;
     /* margin: 100px; */
     border-radius: 10px;
     display: inline-block;
     /* background-color: aquamarine; */
 }

 .shengxi {
    overflow: hidden;
     float: left;
     width: 260px;
     height: 270px;
     background-color: #ffffff;
     /* margin: 0 50px; */
     margin: 0 50px 50px 50px;
     /* margin: 100px; */
     border-radius: 10px;
     display: inline-block;
     /* background-color: aquamarine; */
 }

 /* 主线封面尺寸设置 */
 .zhuxian img {
     width: 100%;
 }

 .biezhuan img {
     width: 100%;
 }

 .chaqv img {
     width: 100%;
 }

 .jiaomie img {
     width: 100%;
 }

 .heyue img {
     width: 100%;
 }

 .rouge img {
     width: 100%;
 }

 .baoquan img {
     width: 100%;
 }

 .shengxi img {
     width: 100%;
 }

 /* 主题标题 */
 .miaoshu {
     height: 40px;
     font-size: 14px;
     color: #000000;
     padding: 0 28px;
     margin-top: 10px;
     /* background-color: aqua; */
 }

 /* 统一的灰色文字描述 */
 .pingjia {
     height: 12px;
     font-size: 12px;
     color: #a9a9a9;
     padding: 0 28px;
     margin-top: 10px;
     /* background-color: aqua; */
 }

 .dibu {

     height: 40px;
     /* background-color: #e8e8e8; */

 }

 .di {

     bottom: 10px;
     text-align: center;
     padding-top: 40px;
     color: #000;
     font-size: 12px;
     background-color: #fff;
 }